.App{
  display: flex;
  flex-wrap: wrap;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.grid-item {
  background-color: #f0f0f0;
  border: 1px solid rgb(225, 230, 235); 
  border-radius: 1rem;
}

.full-width {
  grid-column: 1 / -1; 
}

.heading{
  font-size: 1rem;
  color: rgb(71 85 105);
  display: -webkit-box;          
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2;      
  overflow: hidden;             
  text-overflow: ellipsis;      
}

.button{
  background-color: #258585;
  border: none;
  padding: 1rem;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  margin: 0.2rem .6rem;
  padding: .6rem 4.4rem;
  border-radius: 2rem;
}
.button:hover{
 background-color: #469c9c;
}